.salaryGrade03 {
    margin-bottom: 8px;

    & .summaryRow td {
        background-color: #fffccc !important;
    }

    & .lightColor {
        color: #32a1c8;
    }

    & thead > tr > th {
        padding: 0 4px;
        background-color: #daebf7;
    }

    & thead > tr > th::before {
        display: none;
    }

    & tbody > tr > td {
        padding: 0 4px;

        min-height: 24px;
        max-height: 24px;
    }

    & tbody > tr > td:last-child {
        padding: 0 32px;
        height: 24px;
    }

    & .flexCenterVertical {
        width: 100%;
        display: inline-flex;
        align-items: center;
    }

    & .bonusActiveIcon {
        margin-right: 8px;
    }
}

.formItem {
    margin: 10px;
}

.flexAlignCenter {
    display: inline-flex;
    align-items: center;
}

.mr8 {
    padding-right: 8px;
}

.cursorPointer {
    cursor: pointer;
}

.addButton {
    width: 180px;
}

.popover {
    margin-left: 8px;
    margin-bottom: 0 !important;
}

.bnl1Popover {
    display: flex;
    flex-flow: column;
}

.salaryLevel {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: -24px;

    button {
        width: 24px;
        height: 24px;
        margin: 0 !important;
        margin-right: 4px;
        padding: 0;
        border: none;
        background: inherit;
        visibility: hidden;
    }

    svg {
        margin-left: 2px;
        visibility: hidden;
        cursor: pointer;
    }
}

.titleTableList {
    display: flex;
    align-items: center;

    button {
        width: 24px;
        height: 24px;
        margin: 0 !important;
        margin-right: 4px;
        padding: 0;
        border: none;
        background: inherit;
        visibility: hidden;
    }

    svg {
        margin-left: 4px;
    }
}

.titleTableListCenter {
    justify-content: center;
}

.actions {
    margin-left: 8px;
    display: inline-flex;
    flex-direction: column;

    svg {
        padding: 1px;

        &:hover {
            background: #fff;
            cursor: pointer;
            transition: background 0.6s;
        }
    }
}

.rowDelete {
    display: flex;
    align-items: center;

    svg {
        margin-right: 2px;
        cursor: pointer;
        visibility: hidden;
    }
}

.flexCenter {
    display: flex;
    align-items: center;
}

.formItemMarginBottom4 {
    margin-bottom: 4px;
}

.hiddenFormLabel {
    & label {
        display: none;
    }
}
