.salaryGrade03 {
    margin-bottom: 8px;

    & .summaryRow td {
        background-color: #fffccc !important;
    }

    & .lightColor {
        color: #32a1c8;
    }

    & thead > tr > th {
        background-color: #daebf7;
    }

    & thead > tr > th::before {
        display: none;
    }

    & .flexCenterVertical {
        display: inline-flex;
        align-items: center;
    }

    & .bonusActiveIcon {
        margin-right: 8px;
    }
}

.formItem {
    margin: 10px;
}

.flexAlignCenter {
    display: inline-flex;
    align-items: center;
}

.mr8 {
    padding-right: 8px;
}

.cursorPointer {
    cursor: pointer;
}

.addButton {
    width: 180px;
}

.popover {
    margin-left: 8px;
    margin-bottom: 0 !important;
}

.bnl1Popover {
    display: flex;
    flex-flow: column;
}
